.personal .menus {
      ul {
            li {
                  display: grid;
                  grid-template-columns: 32px auto;
                  gap: 24px;
                  align-items: center;
                  margin: 0;
                  padding: 0;
                  border-bottom: 1px solid #E6E6E6;
                  color: #060F42;
                  font-family: 'Lato', sans-serif;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                  letter-spacing: 0%;
                  padding: 16px;
                  cursor: pointer;
                  transition: 100ms linear;

                  &:hover {
                        padding-left: 20px;
                  }

                  svg {
                        font-size: 24px;
                  }

                  &.active {
                        background: #F4F8FB;
                        color: #01579B;
                  }
            }
      }
}